body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  color: #333; 
  box-sizing: border-box;
}

  div {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  div a {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

footer {
  position: absolute;
  text-align: center;
  bottom : 0;
  font-size: 0.9em;
  color: #666; /* Lighter gray for footer text */
  background-color: #000;
  width: 100%;
}

footer a {
  color: #28a745 !important;
  text-decoration: none !important;
  display: contents;
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

#back-dot {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 50px;  /* Aumenta la dimensione per contenere l'immagine */
  height: 50px;
  background-color: transparent;  /* Rendi lo sfondo trasparente */
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-dot img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#back-dot:hover {
  opacity: 0.8;
}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #4CAF50;
}