/* Rimuovi la ripetizione di #back-dot */ 

table {
  width: 100%;
  font-size: 8px;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto; 
  word-break: break-all; /* Aggiunto per evitare che le parole vengano tagliate */
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd; 
  /* Puoi aggiungere min-width alle celle per evitare che diventino troppo strette */
  /* min-width: 50px; */ 
}

th {
  background-color: #28a745;
  color: white;
}


#costPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 100; /* Ensure it's above other elements */
  width: 200px;
}

#costPopup h2 {
  color: #28a745; /* Green heading */
}

#costPopup label {
  display: block;
  margin-bottom: 5px;
}

#costPopup input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
}

#costPopup button {
  background-color: #28a745; /* Green buttons */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}

#costPopup button:hover {
  background-color: #218838; /* Darker green on hover */
}

#error {
  color: red; 
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
#inside {
  text-align: center; /* Centra il pulsante */

}

#costPopup button,
#inside button { /* Stile per tutti i pulsanti */
  background-color: #28a745; 
  color: white;
  padding: 10px 20px; /* Più padding */
  border: none;
  border-radius: 5px; /* Angoli arrotondati */
  cursor: pointer;
  margin-top: 20px; /* Spazio sopra il pulsante */
  transition: background-color 0.3s ease; /* Transizione fluida */
}

#costPopup button:hover,
#inside button:hover {
  background-color: #218838; 
}

.total-row { /* Stile per la riga del totale */
  font-weight: bold;
  margin-top: 10px; /* Spazio sopra il totale */
}

.total-row td:last-child { /* Allinea l'importo a destra */
  text-align: right;
}